body 
{
	padding:0;
	margin:0;
	font-family:Arial;
}

.container
{
	margin:150px auto;
	width:70%;
}

#search-result
{
	margin-top:40px;
}

#notes-box
{
	margin-top:40px;
	padding:10px;
	background-color:#E7E7E7;
	color:#aaa;
	border-radius:5px;
}

#about-this
{
	padding:10px;
	font-size:13px;
	float:right;
	background-color:#E7E7E7;
	color:#aaa;
	border-bottom-left-radius:5px;
	line-height:25px;
}



.input-big
{
	font-family:Arial;
	padding:0;
	margin:0;
	font-size:50px;
	width:390px;
	color:#aaa;
	text-transform:uppercase;
	outline:none;
	border:0;
	border-bottom:1px solid #ddd;
	font-weight:bolder;
}

b.colored
{
	color:#aaa;
}

.uppercase
{
	text-transform:uppercase;
}

.normal-text
{
	font-size:13px;
}

.big-text 
{
	font-size:36px;
	text-align:center;
}

.headline-text 
{
	font-size:50px;
	text-align:center;
}

a, a:visited
{
	text-decoration:none;
	color:#08C;
}

a:hover
{
	text-decoration:underline;
}


.faded
{
	color:#929191;
}
