body 
{
	padding:0;
	margin:0;
	font-family:Arial;
}

.container
{
	margin:150px auto;
	width:70%;
}

#search-result
{
	margin-top:40px;
}

#about-this
{
	padding:10px;
	font-size:13px;
	float:right;
	background-color:#E7E7E7;
	color:#aaa;
	border-bottom-left-radius:5px;
	line-height:25px;
	text-align:center;
}


#call-to-action
{
	background-image: url('../img/call_to_action.png');
	margin-top: -100px;
	width: 253px;
	height: 91px;
	opacity: 0.3;
	margin-left: 200px;
	position: absolute;
}


.rounded-box
{
	margin-top:40px;
	padding:10px;
	background-color:#E7E7E7;
	color:#aaa;
	border-radius:5px;
}

.alert-box
{
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	margin-top:10px;
}

.input-big
{
	font-family:Arial;
	padding:0;
	margin:0;
	font-size:50px;
	width:390px;
	color:#aaa;
	text-transform:uppercase;
	outline:none;
	border:0;
	border-bottom:1px solid #ddd;
	font-weight:bolder;
}

b.colored
{
	color:#aaa;
}

.uppercase
{
	text-transform:uppercase;
}

.normal-text
{
	font-size:13px;
}

.big-text 
{
	font-size:36px;
	text-align:center;
}

.headline-text 
{
	font-size:50px;
	text-align:center;
}

a, a:visited
{
	text-decoration:none;
	color:#08C;
}

a:hover
{
	text-decoration:underline;
}


.faded
{
	color:#929191;
}
